.layout1
{   
    align-items: center;
    width : 100px;
    height: 100px;
    color: blue;
    font-size: xx-large;
    font-weight: bolder;
    align-content: center;
    text-align: center;  
    border-radius: 10px;
    align-self: center; 
    transform: scale(3);
    /* transform: rotate(45deg); */
    /* transform: skewX(30deg); */
    /* transform: translate(450px,100px); */
    float: right;
    float: left;

}
.layout2
{
    align-items: center;
    width: 100px;
    height: 100px;
    color: red;
    font-size: xx-large;
    align-content: center;
    text-align: center;  
    border-radius: 10px;
    align-self: center; 
    font-weight: bolder;
    /* transform: translateX(100px); */
    transform: scale(3);
    /* transform: rotate(45deg); */
    /* transform: skewX(30deg); */
    /* transform: translate(450px,100px); */
    float: left;
}
.layout3
{
    align-items: center;
    width: 100px;
    height: 100px;
    color: orange;
    font-size: xx-large;
    align-content: center;
    text-align: center; 
    font-weight: bolder; 
    border-radius: 10px;
    align-self: center; 
    /* transform: translateX(100px); */
    transform: scale(3);
    /* transform: rotate(45deg); */
    /* transform: skewX(30deg); */
    /* transform: translate(450px,100px); */
    float: left;
}
.layout4
{
    align-items: center;
    width: 100px;
    height: 100px;
    color: green;
    font-size: xx-large;
    align-content: center;
    font-weight: bolder;
    text-align: center;  
    border-radius: 10px;
    align-self: center; 
    /* transform: translateX(100px); */
    transform: scale(3);
    /* transform: rotate(45deg); */
    /* transform: skewX(30deg); */
    /* transform: translate(450px,100px);  */
    float: left;
    
}
a
{
    color: darkblue;
    text-decoration: double;
}
a:hover
{
    color: black;
    font-size: larger;
    text-decoration: underline;
    transition: 0.3s;
}
a:active
{
    color: red;
}
a:visited
{
    color: blueviolet;
}